<h1><%= t('view.common.title_edit', name: @book.model_name.human) %></h1>

<%= render 'form', book: @book %>

<%= link_to t('view.button.show'), @book %> |
<%= link_to t('view.button.back'), books_path %>
