<h1><%= t('users.reports.index.title', name: @user.name) %></h1>

<div class="reports_list">
  <ul>
    <% @reports.each do |report| %>
    <li>
      <%= link_to report.title, report %>
      <span class="report_writer"><%= report.user.name %></span>
    </li>
    <% end %>
  </ul>
</div>

<div>
  <%= paginate @reports %>
</div>
