/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* ページネーションのデザイン */

.pagination {
  border: solid 1px lightgray;
  padding: 0.5em;
  width: fit-content;
}

.pagination span {
  display: inline-block;
  height: 15px;
  min-width: 15px;
  margin-left: 10px;
  text-align: center;
}

.pagination span:last-child {
  margin-right: 10px;
}

.pagination span a {
  text-decoration: none;
  padding: 5px;
}

.current {
  background-color: lightblue;
  color: white;
  border-radius: 12px;
  padding: 5px;
}
