.reports_list {
  width: 1000px;
}

.reports_list ul {
  list-style: none;
}

.reports_list li {
  border-bottom: solid 1px lightgray;
  padding: 1.5em 0;
}

.reports_list li:first-child {
  border-top: solid 1px lightgray;
}

.report_writer {
  color: gray;
}
